{% extends 'layout.html' %}

{% block content %}

<style>

.card{
    width: 630px;
    padding: 50px;
    border: 1px solid #c9c9c9;
    margin: 0 auto;
    margin-top: 25px;
}

.card-body{
    justify-content: space-between;
}

.card-header {
    background-color: #ffffff;
}


.post-meta-data {
    margin-top: -15px;
    margin-bottom: 5px;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.modal-dialog {
    width: 40rem;
    margin: auto;
}

.modal-body {
    padding: 0;
}

.modal-header {
    border-bottom: none;
}

.post-caption-box {
    justify-content: space-between;
    padding: 0.5rem;
}

.caption-box {
    max-width: inherit;
    word-wrap: break-word;
    resize: none;
    border: none;
}

textarea.caption-box { overflow: hidden; }


#flw {
    margin-top: 1.9rem;
    margin-left:;
}

.user-info {
    padding: 0.2rem 1rem 2rem 0rem;
    font-weight: bold;
    font-size: 16px;
}

.img-wrapper
{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}


#imageResult {
    max-height: 27rem;
}

.main-img-wrapper {
    max-height: 35rem;
    max-width: inherit;
    overflow: hidden;
}

.suggs {
    border: none;
    background: inherit;
}

</style>

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="card">
        <div class="card-body">
            <legend class="mb-4"><small>Add a new post below</small></legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Upload image input-->
            <div class="input-group px-2 py-2 bg-light border-0 rounded mt-4">
                {{ form.media(id='upload', onchange='readURL(this);', class='form-control border-0') }}
                <!-- <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0"> -->
                {{ form.media.label(id='upload-label', for='upload', class='font-weight-light text-muted') }}
                <!-- <label id="upload-label" for="upload" class="font-weight-light text-muted">Upload a pic</label> -->
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 px-4">
                        <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                        <small class="text-uppercase font-weight-bold text-muted">Choose file</small>
                    </label>
                </div>
            </div>
            {% if form.media.errors %}
            <div class="card-footer">
                {% for error in form.media.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group mt-3">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </div>
     </div>
</form>

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

            $('#exampleModalCenter').modal('show');
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    /*  show uploaded image name */
    var input = document.getElementById( 'upload' );
    var infoArea = document.getElementById( 'upload-label' );

    input.addEventListener('change', showFileName);
    function showFileName( event ) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }


</script>

{% endblock %}
